# Copyright 2024 Circle Internet Financial, LTD. All rights reserved.
# 
# SPDX-License-Identifier: Apache-2.0
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

##################################
# EVM Contract Configurations    #
##################################

EVM_RPC_URL=http://localhost:8500

# These values will always be consistent after an Anvil node is started
# and the setup-evm-contracts script is run.
EVM_USDC_ADDRESS=0x700b6a60ce7eaaea56f065753d8dcb9653dbad35
EVM_MESSAGE_TRANSMITTER_ADDRESS=0x2E983A1Ba5e8b38AAAeC4B440B9dDcFBf72E15d1
EVM_TOKEN_MINTER_ADDRESS=0xbdEd0D2bf404bdcBa897a74E6657f1f12e5C6fb6
EVM_TOKEN_MESSENGER_ADDRESS=0x057ef64E23666F000b34aE31332854aCBd1c8544
# Local Anvil/Hardhat dev key only - never commit a funded key. These values were
# previously hardcoded here; supply your own or start a local Anvil node and read the
# keys from its startup output.
# 
EVM_TOKEN_MINTER_DEPLOYER_KEY=
EVM_TOKEN_CONTROLLER_DEPLOYER_KEY=
EVM_TOKEN_MESSENGER_DEPLOYER_KEY=
EVM_ATTESTER_ADDRESS=0x23618e81e3f5cdf7f54c3d65f7fbc0abf5b21e8f
